<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.d.base.mapper.KkSmsMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, mobile, sms_code, template_id, content, status, use_flag, send_time, use_time, fail_reason
    </sql>

</mapper>
